body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 5px;
  font-family: Helvetica, Helvetica Neue, sans-serif;
}
#bg {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 1920px;
  height: 1080px;
}
a {
  text-decoration: none;
}
#content {
  position: fixed;
  z-index: 3;
  float: left;
  background: rgba(255,255,255,0.85);
  margin: 10px;
  padding: 10px;
}
table {
  margin-bottom: 20px;
}
td {
  padding: 0 5px;
}
td:nth-child(odd) {
  text-align: right;
}
.code {
  font-family: Courier New;
}
#container,
canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
}
canvas {
  z-index: -1;
}
#tinymsg {
  color: transparent;
  -webkit-transition: text-shadow 1500ms;
  -moz-transition: text-shadow 1500ms;
  -o-transition: text-shadow 1500ms;
  transition: text-shadow 1500ms;
  -webkit-text-shadow: 0 0 60px #646464;
  -moz-text-shadow: 0 0 60px #646464;
  text-shadow: 0 0 60px #646464;
  font-size: 9px;
  float: right;
}
#tinymsg a {
  color: transparent;
}
#tinymsg:hover {
  cursor: pointer;
  -webkit-transition: text-shadow 1000ms;
  -moz-transition: text-shadow 1000ms;
  -o-transition: text-shadow 1000ms;
  transition: text-shadow 1000ms;
  -webkit-text-shadow: 0 0 0 #646464;
  -moz-text-shadow: 0 0 0 #646464;
  text-shadow: 0 0 0 #646464;
}
