body {
  font-family: Helvetica, Helvetica Neue, sans-serif;
}
a {
  text-decoration: none;
}
table {
  margin: 20px;
}
td {
  padding: 0 5px;
}
td:nth-child(odd) {
  text-align: right;
}
.code {
  font-family: Courier New;
}
