body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 5px;
  font-family: Helvetica, Helvetica Neue, sans-serif;
  width: 720px;
  margin: auto;
}
body.beer {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
body.beer section {
  padding: 5px;
}
img#bg {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  max-width: 1920px;
  width: 1920px;
  height: 1080px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#content {
  z-index: 3;
  background: rgba(255,255,255,0.85);
  margin: 10px;
  padding: 10px;
}
table {
  margin-bottom: 20px;
}
td {
  padding: 0 5px;
}
td:nth-child(odd) {
  text-align: right;
}
.code {
  font-family: Courier New;
}
#container,
canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}
canvas {
  z-index: -1;
}
#tinymsg {
  color: transparent;
  -webkit-transition: text-shadow 1500ms;
  -moz-transition: text-shadow 1500ms;
  -o-transition: text-shadow 1500ms;
  transition: text-shadow 1500ms;
  -webkit-text-shadow: 0 0 60px #646464;
  -moz-text-shadow: 0 0 60px #646464;
  text-shadow: 0 0 60px #646464;
  font-size: 9px;
  float: right;
}
#tinymsg a {
  color: transparent;
}
#tinymsg:hover {
  cursor: pointer;
  -webkit-transition: text-shadow 1000ms;
  -moz-transition: text-shadow 1000ms;
  -o-transition: text-shadow 1000ms;
  transition: text-shadow 1000ms;
  -webkit-text-shadow: 0 0 0 #646464;
  -moz-text-shadow: 0 0 0 #646464;
  text-shadow: 0 0 0 #646464;
}
#buy-now-wrap {
  background: transparent;
  border: none;
  padding: 0;
}
#buy-now-wrap > input {
  margin-top: -2px;
}
#buy-now-amt {
  width: 60px;
  box-sizing: border-box;
  height: 30px;
}
.thanks_text {
  float: left;
  font-size: 32px;
}
body.thanks {
  background: url("happy.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
