user-select()
  -webkit-touch-callout arguments
  -webkit-user-select arguments
  -khtml-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments

body
  user-select none
  padding 5px
  background rgba 0,0,0,0
  font-family Helvetica, Helvetica Neue, sans-serif

a
  text-decoration none

#content

  float left
  background rgba(255,255,255,0.85)
  margin 10px
  padding 10px

table
  margin-bottom 20px

td
  padding 0 5px

td:nth-child(odd)
  text-align right

.code
  font-family Courier New

canvas
  position fixed
  top 0px
  left 0px
  z-index -1
