user-select()
  -webkit-touch-callout arguments
  -webkit-user-select arguments
  -khtml-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments

body
  user-select none
  padding 5px
  font-family Helvetica, Helvetica Neue, sans-serif

#bg
  padding 0
  margin 0
  position fixed
  top 0
  left 0
  z-index -2
  width 1920px
  height 1080px

a
  text-decoration none

#content
  float left
  background rgba(255,255,255,0.85)
  margin 10px
  padding 10px

table
  margin-bottom 20px

td
  padding 0 5px

td:nth-child(odd)
  text-align right

.code
  font-family Courier New

canvas
  position fixed
  top 0px
  left 0px
  z-index -1
  width 1920px
  height 1080px

#tinymsg
  font-size 9px
  float right
  color #bbb
