user-select()
  -webkit-touch-callout arguments
  -webkit-user-select arguments
  -khtml-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments

text-shadow()
  -webkit-text-shadow arguments
  -moz-text-shadow arguments
  text-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

body
  user-select none
  padding 5px
  font-family Helvetica, Helvetica Neue, sans-serif

body.beer
  user-select text

body.beer section
  padding 5px

#bg
  padding 0
  margin 0
  position fixed
  top 0
  left 0
  z-index -2
  width 1920px
  height 1080px

a
  text-decoration none

#content
  position fixed
  z-index 3
  float left
  background rgba(255,255,255,0.85)
  margin 10px
  padding 10px

table
  margin-bottom 20px

td
  padding 0 5px

td:nth-child(odd)
  text-align right

.code
  font-family Courier New

#container, canvas
  position fixed
  top 0px
  left 0px
  width 1920px
  height 1080px

canvas
  z-index -1

#tinymsg
  color transparent
  transition text-shadow 1500ms
  text-shadow 0 0 60px rgba(100,100,100,1)
  font-size 9px
  float right

#tinymsg a
  color transparent

#tinymsg:hover
  cursor pointer
  transition text-shadow 1000ms
  text-shadow 0 0 0 rgba(100,100,100,1)

#buy-now-wrap
  background transparent
  border none
  padding 0

#buy-now-wrap > input
  margin-top -2px

#buy-now-amt
  width 60px
  box-sizing border-box
  height 30px
